@import './config', './mixins', './variables';

.app-container {
  padding-top: 5rem;
}

.file-input-container {
  margin: 0 auto;
  width: max-content;
}

.file-input-container__title {
  margin-bottom: 2rem;
}

.input-controls {
  margin-bottom: 2rem;
}

.output-container {
  display: flex;
  justify-content: center;
  &__text-area {
    appearance: none;
    border-radius: 10px;
    background-color: rgb(239, 240, 240);
    font-size: 1.1rem;
    font-weight: 600;
    width: 70%;
    min-height: 300px;
    padding: 1rem;
  }
}

.finder-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
  width: 70%;
  &__finder {
    appearance: none;
    border: none;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    width: 100%;
  }
  &__find-btn {
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    padding: 0.3rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
  }
}

.edit-container {
  @extend .finder-container;
  &__editor {
    @extend .finder-container__finder;
  }
  &__replace-btn {
    @extend .finder-container__find-btn;
  }
}

.highlight {
  background-color: yellow;
}
